body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
* {
    margin: 0;
    padding: 0;
    list-style: 0;
    box-sizing: border-box;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
input, 
textarea,
button {
    font-family: inherit;
    line-height: inherit;
}
.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    width: 408px;
    min-height: 584px;
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 0;
    width: 24px;
    height: 24px;  
    background-color: #e7e9fc;
    border-radius: 50%;
    stroke-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
} 
.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
}
.modal-button-icon { 
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-color: transparent;
}
.modal-button:hover > .modal-button-icon,
.modal-button:focus > .modal-button-icon {
    fill: #ffffff;
} 
.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.modal-order-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 4px;
    width: 360px;
    height: 336px;
}
.modal-form-container {
    height: 58px;
    margin-bottom: 8px;
}
.modal-form-label {
    display: block;
    margin-bottom: 4px;
    max-width: 360px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.modal-input-container {
    position: relative; 
}
.modal-form-input {
    background-color: transparent;
    outline: transparent; 
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    margin-top: 4px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
    border-color: #4D5AE5;
}
.modal-form-input:focus + .modal-input-icon {
    fill: #4d5ae5;
}
.modal-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea-container {
    height: 138px;
    margin-bottom: 16px;
}
.modal-form-textarea {
    width: 100%; 
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    margin-top: 4px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    display: inline;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.modal-form-textarea:focus {
    border-color: #4D5AE5;
}
.modal-privacy-container {
    margin-bottom: 24px;
}
.modal-privacy-input {
}
.modal-label-privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99; 
}
.modal-privacy-part {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5; 
    margin-right: 8px;
}
.modal-privacy-input:checked + .modal-label-privacy> .modal-privacy-part {
    background-color: #404bbf;
    border: none; 
    fill: #F4F4FD;
}
.modal-privacy-icon {
    fill: #f4f4fd;
}
.modal-privacy-link {
    color: #4d5ae5; 
}
.modal-submit-button {
    font-family: "Roboto", sans-serif;
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-self: flex-start;
    border: none;
}
/*____________________HEADER__________________*/
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    margin-bottom: 0;
}
.header-logo-part {
    color: #2e2f42;
    margin-bottom: 0;
}
.header-nav-list {
    display: flex;
    gap: 40px;
}
.header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0;
}
.header-nav-link:hover,
.header-nav-link:focus {
    color: #404bbf;
}
.current {
    position: relative;
    color: #404bbf;
}
.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
    left: 0;
    bottom: -1px;
}
.header-address {
    font-style: normal;
    margin-left: auto;
}
.header-address-list {
    display: flex;
    gap: 40px;
}
.header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}
/*_____________________________________________*/

/*______________________HERO____________________*/
.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),  url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    max-width: 1440px;
    margin: 0 auto;
} 
.hero-container {
    display: block;
    align-items: center;
    padding-right: 331px;
    padding-left: 331px;
}   
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    max-width: 496px;
}
.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    text-align: center;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: block;
    align-items: center;
    margin: auto;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    white-space: nowrap;
    border: none; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
    box-shadow: 0 4px 4px 0 rgba(144, 21, 21, 0.15);

}
/*_____________________________________________*/
/*____________________FEATURES_________________*/
.features {  
    padding-top: 120px;
    padding-bottom: 120px;  
}  
 .features-container {
  display: flex;
  align-items: center;
  justify-content: center; 
}
.features-list {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 1128px;
}
.features-item {
    width: calc((100% - 3 * 24px) / 4);
}
.features-icon-container {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 100px;
    padding-left: 100px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.features-icon {  
}
.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    width: 264px;
}
.features-icon-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    width: 264px;
}
/*___________________________________________*/
/*______________________TEAM__________________*/
.team {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
 .team-container {
    display: block;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
 .team-list {
    display: flex;
    align-items: center;
    gap: 24px;
}
.team-item {
    width: calc ( (1128- 3 * 24) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}
.team-item {
    width: calc((100% - 3 * 24px) / 4); 
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
}
.team-image-container {
    display: block; 
    max-width: 100%; 
    height: auto;
}
.team-subtitle-container {
    padding-top: 32px;
    padding-bottom: 32px;   
}
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.team-subtitle-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}
.team-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.team-icon-item { 
    width: 40px;
    height: 40px; 
}
.team-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);     
}
.team-icon-link:hover {
    background-color: #404bbf;
}
.team-icon-link:focus {
    background-color: #404bbf;
}     
.team-icon {
    fill: #f4f4fd;
}
/*___________________________________________*/
/*_____________________PORTFOLIO_____________*/
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
     
}
.portfolio-container {
    display: block;
    align-items: center;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-list {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}  
.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-overlay-container {
    position: relative;
    overflow: hidden;  
} 
.portfolio-image {
    width: 100%;
    height: 100%;
}
.portfolio-overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 40px;
    padding-left: 32px;
    background: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.portfolio-item:hover .portfolio-overlay-text {
    transform: translateY(0%); 
}     
.portfolio-subtitle-container {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-subtitle-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*___________________________________________*/
/*_____________________FOOTER_______________*/
.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-container {
    display: flex;
    align-items: baseline;
    padding-right: 551px;
    
}
.footer-navigation {
    margin-right: 120px
}
.footer-logo-part {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    width: 115px;
    display: inline-block;
    margin-bottom: 16px;     
}
.footer-logo-part {
    color: #f4f4fd;
    margin-bottom: 0;
} 
.footer-logo-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}
.footer-icon-container {
    display: block;
    align-items: center;
    margin-right: 80px;
}
.footer-icon-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    content: "";
    margin-bottom: 16px;
}
.footer-icon-list {
    display: flex;
    align-items: baseline;
    gap: 16px;  
}
.footer-icon-item {    
}
.footer-icon-link {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width:100%; 
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-icon-link:hover {
    background-color: #31d0aa;
}
.footer-icon-link:focus {
    background-color: #31d0aa;
}
.footer-icon {
    fill: #f4f4fd;
}
.footer-form-container {  
}
.footer-subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}
.footer-order-form {
    display: flex;
    align-items: center;
    gap: 24px;
 }
.footer-form-label {
}
.footer-form-input {
    display: block;
    align-items: center;
    padding-left: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    display: inline;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    font-weight: 400;
}
.footer-form-input::placeholder {
    color: #fff;    
}
.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
}
.footer-button-icon {
    fill: #fff;
    margin-left: 16px; 
}
/*___________________________________________*/